<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class = "form-group col-md-3">
	<h1>Add Question</h1>
	<div>
		<form th:object="${question}" th:action="@{save}" action="#" method="post">
		  	<p>Content of the question <span id="range3"></span></p>
			<input type="text" id="qst" th:field="*{qst}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="typelist">Type of the question</label>
			 <select id="typelist" th:field="*{qsttype}" class="form-control">
       			<option th:value="'number'" th:text="Number"></option>
       			<option th:value="'text'" th:text="Text"></option>
       			<option th:value="'radio'" th:text="Radio"></option>
       			<option th:value="'multi'" th:text="Multi"></option>
    		</select>
    		
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
		</div>
	</div>
</body>
</html>