<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div class = "form-group col-md-3">
	<h1>Edit Question</h1>
	<div>
		<form th:object="${question}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
			<input type="hidden" id="answer" th:field="*{answer}" />
			
			<p>Content of the question <span id="range3"></span></p>
			<input type="text" id="qst" th:field="*{qst}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="typelist">Type of the question</label>
			 <select id="typelist" th:field="*{qsttype}" class="form-control">
       			<option th:value="'number'" th:text="Number"></option>
       			<option th:value="'text'" th:text="Text"></option>
       			<option th:value="'radio'" th:text="Radio"></option>
       			<option th:value="'multi'" th:text="Multi"></option>
       			<option th:value="'mandatorynumber'" th:text="Mandatorynumber"></option>
       			<option th:value="'mandatorytext'" th:text="Mandatorytext"></option>
       			<option th:value="'mandatoryradio'" th:text="Mandatoryradio"></option>
       			<option th:value="'mandatorymulti'" th:text="Mandatorymulti"></option>
    		</select>
    		
    		
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
			</div>
		</form>
	</div>
</body>
</html>



<!-- 		
			<label for="answer">Answer:</label>
			<input type="text" id="answer" th:field="*{question.answer}" />
			<div style="clear: both; display: block; height: 10px;"></div>
 -->