<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<h1>Questionnaire</h1>
	<div>
		<form th:object="${question}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
		  	<label for="qst"><label>
			<input type="text" id="qst" th:field="*{qst}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="answer">Answer:</label>
			<input type="text" id="answer" th:field="*{answer.content}" />
			<div style="clear: both; display: block; height: 10px;"></div>						
			<input type="submit" value="Save"></input>
			
		</form>
	</div>
</body>
</html>
