<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Question</title>
	<meta http-equiv="Content-Type" content="text.html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<div class="col-md-4">
		<h1>Questions</h1>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4" style="padding:20px 0">
	</div>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Question</th>
			</tr>
			<tr th:each = "question : ${questions}">
				<td th:text="${question.qst}"></td>
				<td><a th:href="@{/form/{questionid}(id=${question.questionid})}"class="btn btn-success btn-sm" role="button">Answer</a></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
