<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Admin Controls for Rest API</title>
	<meta http-equiv="Content-Type" content="text.html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<div class="col-md-4">
		<h1>Admin Controls</h1>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4" style="padding:20px 0">
	</div>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>ID</th>
				<th>Question</th>
				<th>Question type</th>
				<th>Answer</th>
				<th colspan="2">Settings</th>
			</tr>
			<tr th:each = "question : ${questions}">
				<td th:text="${question.id}"></td>
				<td th:text="${question.qst}"></td>
				<td th:text="${question.qsttype}"></td>
				<td th:text="${question.answer}"></td>
				<td><a th:href="@{/delete/{id}(id=${question.id})}"class="btn btn-danger btn-sm" role="button">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${question.id})}"class="btn btn-success btn-sm" role="button">Edit</a></td>				
			</tr>
		</tbody>
	</table>
	<a href="/add" class="btn btn-success btn-sm" role="button">Add Question</a> 
</div>
</body>
</html>
